.input {
  width: 60px;
}

.input-sm {
  width: 30px;
}

.maze {
  display: grid;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
}

.value0 {
  /* background-color: white; */
  background: #414157;
}
.value1 {
  /* background-color: lightblue; */
  background: rgb(123, 149, 159);
}
.path {
  /* background: lightgreen; */
  background: rgb(88, 126, 88);
}
p {
  margin: 5px;
}
html {
  background: #414157;
  color: #d3d5ff;
  align-items: center;
  text-align: center;
  justify-content: center;
}
input, button {
  background: #d3d5ff;
  color: #414157;
  border: 2px #414157 solid;
  margin: 2px;
  outline: 0;
}
input:focus {
  outline: 0;
  border: 1px lightcoral solid;
  margin: 2px;
}
